.container-card {
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    position: relative;
    background-color: #9A9AB8;
    padding-bottom: 50px;
}

.card-item {
    width: 25%;
    height: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 1px 1px 30px #043232;
    border-radius: 7px;
    transition: .5s;
    background-color: #b8cbdc;
    
}

.card-item:hover {
    transform: scale(1.1);
}

.card-item h2 {
    margin-bottom: 50px; 
    font-size: 35px;
}

.card-item p {
    margin-top: 80px;
    font-size: 20px;
}

.title-container {
    width: 100%;
    text-align: center;
    padding: 100px 0;
  }
  
  .title-container h1{
    font-size: 50px;
    margin-bottom: 20px;
  }
/* #d4e4f7 AZUL CLARO */
/* #f2f2f2 CINZA CLARO QUASE BRANCO */
/* #c9ecd4 VERDE PASTEL */